  


   <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <!-- There is inline padding applied to this node using styles.-->
           <!-- This padding value depends on the mat-icon-button width.-->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <a style="color: red;"> {{node.name}} |</a> <a style="color: lightgreen;">{{node.path}} | </a>   <a style="color: yellow;">  {{node.size}} kb  | </a>  <a style="color: rgb(84, 255, 16);"> {{node.type}}  | </a> <a style="color: rgb(255, 2, 150);">{{node.ctime}} </a> 
        </mat-tree-node>
       
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <table>
               
            <tr>
              <th style="color: red;">filename </th> |
              <th style="color: lightgreen;">path </th> |
              <th style="color: yellow;">Size </th> |
              <th style="color: rgb(84, 255, 16);">type </th> |
              <th style="color: rgb(255, 2, 150);">date-created </th> |
             
            </tr>
          </table>
            <div class="mat-tree-node">
              
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                      
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>           
            
                  {{node.name}} 
                           
              
            </div>
            <!-- There is inline padding applied to this div using styles.-->
                 <!-- This padding value depends on the mat-icon-button width.-->  
            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
                role="group">
              
              <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node> 

